<%= form_with(model: book) do |form| %>
  <% if book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
        <% book.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :publisher %>
    <%= form.text_field :publisher %>
  </div>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :title_collection %>
    <%= form.text_field :title_collection %>
  </div>

  <div class="field">
    <%= form.label :author_last_name %>
    <%= form.text_field :author_last_name %>
  </div>

  <div class="field">
    <%= form.label :author_first_name %>
    <%= form.text_field :author_first_name %>
  </div>

  <div class="field">
    <%= form.label :editor_name %>
    <%= form.text_field :editor_name %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
