<p id="notice"><%= notice %></p>

<p>
  <strong>Publisher:</strong>
  <%= @book.publisher %>
</p>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Title collection:</strong>
  <%= @book.title_collection %>
</p>

<p>
  <strong>Author last name:</strong>
  <%= @book.author_last_name %>
</p>

<p>
  <strong>Author first name:</strong>
  <%= @book.author_first_name %>
</p>

<p>
  <strong>Editor name:</strong>
  <%= @book.editor_name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @book.price %>
</p>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
